@{
    ViewData["Title"] = "О магазине";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>О магазине</b></h2>
        </div>

        <p>В нашем интернет-магазине вы можете заказать доставку цветов в Казани. Придя к нам в салон, вы можете купить розы, сборные букеты из других цветов для своих любимых и близких, а так же оформить доставку на удобное время. После вручения букета вы получаете фотоотчет.</p>

        <p>Интернет-магазин «Цветочная лавка» в Казани - это гарантия качества всех услуг. Оплата производится как наличными, так и онлайн платежами. Оформите заказ у нас и мы позаботимся о том, чтобы заказ был выполнен быстро, а цветы были свежими.</p>

        <p>Каждый букет собирается на воде и на момент доставки ему не более 4х часов. Наша компания гарантирует качество, свежие цветы и своевременность выполнения заказа.</p>

        <p>На все букеты действует гарантия замены 24 часа (с времени доставки). Мы заботимся о каждом клиенте и, соответственно, о своей репутации.</p>

        <div class="starter-template py-4 text-center">
            <img src="~/images/about.jpg" alt="checkout" class="responsive">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>Наши преимущества</b></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="text-center">
            <img src="~/images/1.png" class="img-thumbnail rounded-circle" alt="...">
            <h3>Быстрая доставка</h3>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center">
            <img src="~/images/2.png" class="img-thumbnail rounded-circle" alt="...">
            <h3>Гарантия свежести</h3>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center">
            <img src="~/images/3.png" class="img-thumbnail rounded-circle" alt="...">
            <h3>Открытка в подарок</h3>
        </div>
    </div>
</div>
