@{
    ViewData["Title"] = "Контакты";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>Контакты и адреса магазинов в Казани</b></h2>
        </div>
    </div>
</div>

<div class="table-wrap">
    <table class="table-1">
        <thead>
            <tr>
                <th style="width:40%">Адрес</th>
                <th style="width:30%">Телефон</th>
                <th style="width:30%">Режим работы</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td>ул. Хади Такташа, 77</td>
                <td>+79999999991</td>
                <td>ежедневно с 9:00 до 21:00</td>
            </tr>
            <tr>
                <td>ул. Академика Парина, 6</td>
                <td>+79999999992</td>
                <td>ежедневно с 9:00 до 21:00</td>
            </tr>
        </tfoot>
    </table>
</div>

<br>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A80859d39e54bf69bf7fed7a0292206fcebb7c79652758cd25f0bdf98b32098fd&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>Социальные сети</b></h2>
        </div>
    </div>
</div>

<i>
    Группа ВКонтакте: <a href="https://vk.com/" target="_blank">Цветочная лавка</a>
    <br>
    Instagram: <a href="https://www.instagram.com/" target="_blank">&#64;svetlavka_inst</a>
    <br>
    Telegram: <a href="https://web.telegram.org/" target="_blank">&#64;svetlavka</a>
</i>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>Служба поддержки</b></h2>
        </div>
    </div>
</div>

<i>
    Электронная почта: <a href="https://mail.ru/" target="_blank">svetlavka&#64;mail.ru</a>
    <br>
    Телефон: +79999999993
</i>